.gradle
.kotlin/
*.hprof
normal-release-build.log
normal-release-build.pid
tv-release-build.log
build/
.idea/
.vscode/
*.iml
local.properties
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.aar
*.keystore
*.jks
keystores/
server-data/
iosApp/*.xcodeproj/
iosApp/*.xcworkspace/
*.xcarchive
!debug.keystore
